
:root {
    --qt-title-font-family: 'Roboto';
    --qt-title-font-weight: 700;
    --qt-title-font-style: italic;
    --qt-title-font-transform: uppercase;
    --qt-title-gradient-color: linear-gradient(45deg, var(--qt-title-gradient-color-left) 20%, var(--qt-title-gradient-color-right));
    --qt-nav-parent-font-weight: 700;
    --qt-nav-parent-font-transform: uppercase;
    --qt-nav-submenu-font-family: 'Roboto';
    --qt-nav-submenu-font-size: 19px;
    --qt-nav-submenu-font-size-mobile: 17px;
    --qt-nav-submenu-font-style: italic;
    --qt-nav-submenu-font-weight: 700;
    --qt-nav-submenu-font-transform: uppercase;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 1.15rem;

}
.navbar-brand img {
  width: 65px;
}
.heroheader {
    background-color: #181818;
    background-image: url('images/franchbg.webp');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    width:100vw;
    height: 100vh;
    position: relative;
    font-size:58px;
}
h1, h2, h3, h4, label, .accordion-button {
  font-family: "Roboto", sans-serif;
}
.accordion-item {
  border: none;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size:18px;
}
.accordion-button {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  border: none;
  font-size:24px;
}
.accordion-button:not(.collapsed) {
  background: rgb(34,193,195);
  background: linear-gradient(90deg, #c8102e 0%, hsl(350, 85%, 49%) 100%);
  color: #ffffff;
}
.accordion-button:focus {
  box-shadow: none;
}c8102e
.accordion-body {
  background-color: #ffffff;
  color: #555;
  line-height: 1.6;
}
.accordion-button::after {
  filter: invert(1);
}
.background-overlay {
    background-color: #000000;
    opacity: 0.7;
    mix-blend-mode: luminosity;
    transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
    inset: 0;
    position: absolute;
    z-index: 1;
}
.zprev {position: relative; z-index: 2;}
.heroheader p {font-size: 18px; color:#fcfcfc;}
footer p {margin-bottom: 0;}
.custom-heading__title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;  
}
.ctabanner {
  background:url("images/cta-banner.jpeg") no-repeat 0 0;
  width: 100%;
  height: 300px;
}
.custom-heading__title span {
    color: #c8102e;
    display: block;
    font-size:20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.heroheader .custom-heading__title span, .opportunities .custom-heading__title span{color:#f1f1f2}
.custom-heading__title.sm {
    font-size:48px;
    text-align: left;
}
.section {
    padding: 80px 0;
}
.list {
    margin-top: 20px;
    padding-left: 0;
}
.list li {
    font-size: 19px;
    margin-bottom: 15px;
   
    display: flex;
    color:#2d2d2d;
}
.list li img {
    width: 20px;
}
.list li p {
    padding-left: 20px;
    margin-bottom: 0;
}
p {
    margin: 0 0 20px 0;
    word-break: break-word;
}
.testimonials-wrap {
    padding: 40px 0;
  }
  .heading-section {
    text-align: center;
  }
  .sub-heading {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .heading-section h2 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
    
  }
  .testimonial-box {
    display: block;
    position: relative;
    padding: 30px 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  }
  .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
  }
  .carousel-testimonial .item {
    padding: 30px 10px;
  }
  .quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
  }
  .name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Barlow Condensed", serif;
  }
  .position {
    color: #adadad;
    font-size: 14px;
  }
  form .mb-3 {
    margin-bottom: 21px;
  }
  .carousel-testimonial .owl-nav {
    text-align: center;
  }
  .carousel-testimonial .owl-nav button.owl-next,
  .carousel-testimonial .owl-nav button.owl-prev {
    padding: 0 12px !important;
  }
  .carousel-testimonial .owl-nav button {
    outline: none;
    padding: 0;
  }
  .carousel-testimonial .owl-nav button.owl-next span,
  .carousel-testimonial .owl-nav button.owl-prev span {
    display: block;
    font-size: 40px;
    width: 25px;
    height: 25px;
    vertical-align: 0px;
    line-height: 16px;
  }
  .carousel-testimonial .owl-nav button.owl-next.disabled,
  .carousel-testimonial .owl-nav button.owl-prev.disabled {
    opacity: 0.5;
  }
a.btn, .wpcf7-submit {
    position: relative;

    padding: 20px 35px;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 2px solid transparent;
    background-color: #c8102e;
    transition: background-color .15s ease, color .15s ease, border-color .15s ease;
    margin:30px 0;
    display: block;
}
.wpcf7-submit
.heroheader .btn {
  width:auto;
  display: inline-block;
}
a.btn-small {width:300px;}
a.btn:hover, .wpcf7-submit:hover {
    background-color: #c8102e;
    color:#fff;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], select, textarea {
    color: var(--qt-content-font-color);
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: #f9f9f9;
    font-size:14px;
}
label {
    display: block;
    color: #000;
    font-style:italic;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 18px;
}
label.asteriks::after {
    position: relative;
    content: "*";
    margin-left: 6px;
    color: #e75e5e;
    font-size: 19px;
}
 .back-top {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex
;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 20px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    color: #1d1d1d;
    font-size: 20px;
    z-index: 1000;
    transition: all .2s ease-in-out;
}
@media (min-width: 576px) {
  .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: space-between;
  }
}
.footer .back-top.is-visible {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}
.list-default {
    list-style: none;
    margin-top: 60px;
}
.list-default h4 {
    padding: 24px 0 0px;
}
.list-default p {font-size:16px; margin-top: 12px;}
.opportunities {
    position: relative;
    padding: 60px 0px 60px 0px;
 
    color:#fff;
}
.opportunities .container {position:relative;z-index: 2;}
.opportunities-overlay {   
    position: absolute;
    width: 100%;
    height: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgb(224, 31, 31,0.9);
    z-index:1;
}
@media all and (max-width:767px) {
	.heroheader {
	height:auto;
	padding-top:50px;
	}
	form .form-control:first-child {
	margin-bottom:1rem;
	}
	section#why {
	padding:60px 30px;
	}
	
}@media all and (max-width:576px) {
	.opportunities {
		padding:30px;
	}
	.testimonials-wrap {
		padding:0;
	}
	section#testimonials {
		padding-bottom:0;
	}
	.testimonial-box {
		flex-direction:column;
	}
	.testimonial-box .ps-4 {
		padding-left:0!important;
		padding-top:20px;
	}
	.ctabanner {
		height:auto;
	}
	.opportunities li:last-child p {margin-bottom:0;}
	.heroheader p, p {
		font-size:16px;
	}
	.custom-heading__title, .custom-heading__title.sm {
		font-size:28px;
	}
	.custom-heading__title span {
		font-size:16px;
		margin-bottom:8px;
	}
	section {
		padding:30px;
	}
	.list-default {
		padding-left:0;
	}
	.list-default li {
		margin-bottom:20px;
	}
	.list-default li:last-child {
		margin-bottom:0;
	}
	section.faq {
		padding:30px!important;
	}
	.accordion-button {
		font-size:16px!important;
	}
	.accordion-body {
		font-size:14px!important;
	}
	section::after {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:0;
		background-color:rgba(0,0,0,0.07);
		content:"";
		display:block;
	}
	.ctabanner {
        height: auto;
        position: relative;
        padding: 30px 30px 16px;
    }
	.ctabanner .container {
		z-index:2;
		position:relative;
	}
	.ctabanner 
	.ctabanner::after {
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		background-color:rgba(0,0,0,0.8);
	}
}